ListItem
{
    flex-direction:row;
    height:auto;
    flex-grow:1;
}

.editmode #listitemindexlabel 
{
    display:none;
}
.editmode #listitemindexfield 
{
    display:flex;
}

#listitemindex 
{
    width:40px;
    border-right-width:1px;
    border-right-color:rgb(127,127,127);
    flex-direction:row;
}
#listitemindexlabel 
{
    flex-grow:1;
    -unity-text-align:middle-center;
}
#listitemindexfield 
{
    flex-grow:1;
    display:none;
    -unity-text-align:middle-center;
}