PropertyElement
{
    flex-grow:1;
    border-color:rgb(26,188,156);
    border-radius:5px;
}
.TemplatePropertyHover
{
    background-color:rgba(26,188,156,0.5);
    padding-left:10px
}
.TemplatePropertySelected
{
    border-width:1px;
}